<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur,
    laboriosam?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
    voluptatibus facilis assumenda enim sapiente atque laboriosam provident!
    Eos, iusto ab beatae, minus quos tempora labore itaque vel eius, odit
    delectus!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur,
    eligendi eum est, totam animi eos hic, deserunt culpa beatae sequi nisi
    optio tenetur nihil porro nobis corporis excepturi iure maiores inventore ea
    doloribus repudiandae ad! Accusamus, saepe culpa aperiam ipsum assumenda,
    quam obcaecati laboriosam ea aliquid dolores tenetur atque sit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, unde nisi
    praesentium asperiores fugit saepe quam, accusantium voluptate officia eius
    nobis quasi aspernatur maxime debitis optio dolore nostrum molestiae cum
    deserunt laborum. Cumque, at itaque nihil quos voluptas maiores natus
    aliquid tempora repudiandae amet quidem eos. Deserunt amet dignissimos
    quaerat repudiandae laudantium iusto consequuntur mollitia, quo maxime
    perspiciatis ducimus natus voluptate quis ratione! Ratione ullam
    necessitatibus odit quibusdam architecto, hic alias beatae facilis dolor
    doloremque accusamus dolore voluptatem nulla, quae soluta ducimus.
    Voluptatem nulla delectus enim deleniti aliquid possimus sunt aut voluptates
    labore exercitationem. Excepturi nihil cumque animi doloribus a?
  </p>
</main>
